.error-container {
  height: 60vh;
  display: flex;
  justify-content: center;
text-align: center;
  align-items: center;
}
.error-image {
  width: 45%;
}
.error-button {
  background: #e02528;
  padding: 0.7rem 2.5rem;
  border-radius: 30px;
  border: none;
  color: #fff;
  margin-top: .5rem;
  cursor: pointer;
}

